<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="style.css">
        <title>Flights recommender</title>

    </head>

    <body>

    <div class="information">
        <label>From:&nbsp;&nbsp;&nbsp;</label>
        <input><br><br>
        <label>To:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
        <input><br><br><br><br>
        <label>Depart: </label>
        <input><br><br>
        <label>Return: </label>
        <input><br><br>
        <button>Search</button>

        <img src="airport_tower.png" class="img1">
        <img src="airport_tower.png" class="img2">
    </div>

    </body>
</html>