
@media screen and (min-width: 1024px)
{
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 100vh;
        background: radial-gradient(deepskyblue, white);
    }

    .information {
        padding: 10%
    }

    label {
        font-family: "Bahnschrift";
        font-size: 200%;

    }

    input {
        font-size: 200%;
        border-radius:10px;
        border:0;
        box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
        border-bottom:1px solid #eee;

    }

    button {
        padding: 3%;
        text-align: center;
        margin-left: 50%;
        font-size: 100%;
        border-radius:10px;
        border:0;
        border-bottom:1px solid #eee;
        box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
        font-family: "Bahnschrift";
    }

    button:hover {
        font-size: 100.5%;
    }

    .img1 {
        position: fixed;
        right:4%;
        bottom:10%;
        width: 25.5%;
        height: 52%;


    }

    .img2 {
        position: fixed;
        left:4%;
        bottom:10%;
        width: 25.5%;
        height: 52%;
        transform: scaleX(-1);

}

@media screen and (min-width: 767px) and (max-width: 1023px)
{
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        height: 100vh;
        background: radial-gradient(lightskyblue, white);
    }

    .information {
        padding: 20%;
    }

    label {
        font-family: "Bahnschrift";
        font-size: 200%;


    }

    input {
        font-size: 200%;
    }

    button {
        padding: 3%;
        text-align: center;
        margin-left: 50%;
        font-size: 100%;
        font-family: "Bahnschrift";
    }
}